PROMPT_FOLDER="src/server/prompts"
GITHUB_APP_ID="12345"
GITHUB_CLIENT_ID="sample-client-id"
GITHUB_CLIENT_SECRET="sample-client-secret"
GITHUB_PRIVATE_KEY="sample-private-key"
GITHUB_WEBHOOK_SECRET="sample-webhook-secret"
SMEE_URL="https://sample.smee.io"
TARGET_URL="https://sample.targeturl.com/api/github/webhooks"
OTTO_GITHUB_USERNAME="otto-jacob"
DATABASE_URL="postgres://postgres:postgres@localhost:5432/otto_db_dev?ssl=false"
DATABASE_TEST_URL="postgres://postgres:postgres@localhost:5432/otto_db_test?ssl=false"
VITE_GITHUB_CLIENT_ID="sample-client-id"
