# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth GitHub Provider
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

PROMPT_FOLDER="src/server/prompts"
GITHUB_APP_ID="12345"
GITHUB_APP_USERNAME="67890"
GITHUB_APP_NAME="otto-ai-app"
GITHUB_PRIVATE_KEY="sample-private-key"
GITHUB_WEBHOOK_SECRET="sample-webhook-secret"
SMEE_URL="https://sample.smee.io"
TARGET_URL="http://localhost:5173/api/github/webhooks"
OPENAI_API_KEY="key-goes-here"
DATABASE_URL="postgres://postgres:postgres@localhost:5432/otto_db_dev?ssl=false"
DATABASE_TEST_URL="postgres://postgres:postgres@localhost:5432/otto_db_test?ssl=false"
VITE_GITHUB_CLIENT_ID="sample-client-id"
VITE_FIGMA_PLUGIN_ID="abc"
PORTKEY_API_KEY="sample-api-key"
AWS_ACCESS_KEY_ID="sample-access-key"
AWS_SECRET_ACCESS_KEY="sample-secret-access-key"
AWS_REGION="us-west-2"
BUCKET_NAME="jacob-snapshots"
POSTHOG_API_KEY="sample-api-key"
TMP_DIR="/tmp"
