# Node.js related
node_modules/
dist/

# Environment variables
.env
.env.local

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Operating system related
.DS_Store
Thumbs.db
*.log

# Build output
*.build
*.out
*.exe
*.o
*.so
*.dll

# Temporary files
*.tmp
*.temp
