@tailwind base;
@tailwind components;

@font-face {
  font-family: "gooper";
  src: url("/fonts/gooper-semibold.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

*,
*::before,
*::after {
  @apply m-0 box-border p-0;
}

html,
body {
  @apply min-h-full w-full;
}

body {
  @apply flex w-full flex-col bg-beige;
}

#__next {
  @apply flex h-full min-h-screen w-full;
}

.button-primary {
  @apply flex h-12 w-full items-center justify-center rounded-lg bg-navy-blue shadow-lg sm:max-w-lg md:w-auto md:px-10;
}

.button-secondary {
  @apply flex h-10 items-center justify-center rounded-xl border border-solid border-navy-blue px-4 shadow-sm transition-colors hover:bg-blue-500 hover:text-white md:px-8 lg:px-10;
}

.aspect-ratio-box {
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.markdown {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.6;
  color: #c9d1d9;
  background-color: #0d1117;
  padding: 16px;
  border-radius: 6px;
}

.markdown h1 {
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 16px;
  color: rgb(224, 108, 117);
  border-bottom: 1px solid #30363d;
  padding-bottom: 4px;
}

.markdown h2 {
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 16px;
  color: rgb(224, 108, 117);
  border-bottom: 1px solid #30363d;
  padding-bottom: 4px;
}

.markdown h3 {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 12px;
  color: rgb(152 195 121);
}

.markdown h4,
.markdown h5 {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 12px;
  color: rgb(198, 120, 221);
}

.markdown hr {
  border-color: #666;
  margin: 24px 0;
}

.markdown p {
  margin: 16px 0;
  color: #ddd;
  font-size: 16px;
}

.markdown ul {
  list-style: disc;
  padding-left: 20px;
  margin: 8px 0;
  font-size: 15px;
}

.markdown li {
  margin-bottom: 8px;
  color: #ddd;
}

.markdown strong {
  color: rgb(58, 146, 225);
  font-weight: 600;
}

.markdown code {
  color: #c9d1d9;
  background-color: rgba(56, 59, 66, 0.8);
  padding: 2px 4px;
  border-radius: 6px;
  font-size: 85%;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}

.markdown pre {
  background-color: rgb(40 44 51);
  padding: 0px 4px;
  overflow: auto;
  border-radius: 6px;
  margin-bottom: 16px;
  margin-top: 8px;
  white-space: pre-wrap;
  width: 100%;
}

.markdown pre code {
  background-color: transparent;
  padding: 0;
}

.markdown a {
  color: #fff;
  text-decoration: none;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown blockquote {
  border-left: 4px solid #30363d;
  padding: 0 16px;
  color: #8b949e;
  margin: 8px 0;
}

.task-list-item {
  list-style: none;
}

.task-list-item input[type="checkbox"] {
  margin-right: 6px;
}

.markdown-chat {
  @apply font-figtree;
  @apply text-base;
  @apply leading-relaxed;
  @apply font-light;
  @apply text-neutral-300;
}

.markdown-chat h1 {
  @apply text-2xl;
  @apply font-figtree;
  @apply mt-1;
  @apply mb-3;
}

.markdown-chat h2 {
  @apply text-xl;
  @apply font-figtree;
  @apply mt-1;
  @apply mb-3;
}

.markdown-chat h3 {
  @apply text-lg;
  @apply font-figtree;
  @apply mt-1;
  @apply mb-3;
}

.markdown-chat h4 {
  @apply text-base;
  @apply font-figtree;
  @apply mt-1;
  @apply mb-3;
}

.markdown-chat h5 {
  @apply text-base;
  @apply font-figtree;
  @apply mt-1;
  @apply mb-3;
}

.markdown-chat hr {
  @apply border-neutral-500;
  @apply my-3;
}

.markdown-chat p {
  @apply font-figtree;
  @apply my-3;
}

.markdown-chat ul {
  @apply font-figtree;
  list-style: disc;
  @apply p-2;
}

.markdown-chat li {
  @apply font-figtree;
  @apply mb-1;
}

.markdown-chat strong {
  @apply font-figtree;
  @apply text-lg;
  @apply font-semibold;
  @apply text-light-blue;
}

.markdown-chat code {
  @apply bg-gray-700/80;
  @apply font-figtree;
  @apply px-1;
  @apply py-1;
  @apply rounded-sm;
}

.markdown-chat a {
  @apply font-figtree;
  @apply text-light-blue;
  @apply underline;
}

.markdown-issue code {
  @apply text-blueGray-200;
  @apply bg-blueGray-800;
  @apply px-3;
  @apply py-2;
  @apply my-2;
  @apply rounded-md;
  @apply block;
  @apply overflow-x-auto;
  @apply whitespace-pre;
  @apply border border-blueGray-700;
}

.details {
  @apply font-figtree;
  @apply text-base;
  @apply font-light;
  @apply text-neutral-300;
}

.markdown-details {
  @apply font-figtree;
  @apply text-base;
  @apply font-light;
  @apply text-neutral-300;
}

.markdown-details h1 {
  @apply text-base;
  @apply font-figtree;
  @apply font-medium;
  @apply text-neutral-200;
  @apply mt-1;
  @apply mb-3;
}

.markdown-details h2 {
  @apply text-base;
  @apply font-figtree;
  @apply font-medium;
  @apply text-neutral-200;
  @apply mt-1;
  @apply mb-3;
}

.markdown-details h3 {
  @apply text-base;
  @apply font-figtree;
  @apply font-medium;
  @apply text-neutral-200;
  @apply mt-1;
  @apply mb-3;
}

.markdown-details h4 {
  @apply text-base;
  @apply font-figtree;
  @apply text-neutral-200;
  @apply mt-1;
  @apply mb-3;
}

.markdown-details h5 {
  @apply text-base;
  @apply font-figtree;
  @apply text-neutral-200;
  @apply mt-1;
  @apply mb-3;
}

.markdown-details hr {
  @apply border-neutral-500;
  @apply my-3;
}

.markdown-details p {
  @apply font-figtree;
  @apply my-3;
  @apply text-neutral-400;
}

.markdown-details ul {
  @apply font-figtree;
  list-style: disc;
  @apply p-2;
}

.markdown-details li {
  @apply font-figtree;
  @apply mb-2;
}

.markdown-details strong {
  @apply font-figtree;
  @apply text-base;
  @apply font-semibold;
}

.markdown-details code {
  @apply text-neutral-200;
  @apply font-figtree;
  @apply font-semibold;
}

.markdown-details a {
  @apply font-figtree;
  @apply text-light-blue;
  @apply underline;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}
.blink {
  animation: blink 1s linear infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 0.5s ease-in-out;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  position: relative;
  background: #1f2937;
  border-radius: 0.5rem;
  padding: 1rem;
  outline: none;
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@tailwind utilities;
